*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    perspective: 1000px;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    transform-style: preserve-3d;
    min-height: 80%;
    width: 80%;
    border-radius: 30px;
    padding: 5% 5%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.monster{
    min-height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info h1{
    font-size: 3rem;
    text-align: center;
    transition: all 0.75s ease-out;
}

.info h3{
    font-size: 1.3rem;
    padding: 0.8rem 0rem;
    text-align: center;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.info input{
    width: 100%;
    padding: 1rem 1rem;
    margin: 0.25rem 0rem;
    border: 2px solid #f1f1f1;
    border-radius: 40px;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.info input:hover{
    border: 2px solid #dadada;
    transition: all 0.75s ease-out;
}

.info input:focus{
    background: #f1f1f1;
    transition: all 0.75s ease-out;
}

.info form{
    transition: all 0.75s ease-out;
}