*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/galaxy.jpg");
    background-repeat: repeat;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    perspective: 1000px;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #fff;
    transform-style: preserve-3d;
    min-height: 80%;
    width: 80%;
    border-radius: 30px;
    padding: 5% 5%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.monster{
    min-height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info h1{
    font-size: 3rem;
    text-align: center;
    transition: all 0.75s ease-out;
}

.info h3{
    font-size: 1.3rem;
    padding: 0.8rem 0rem;
    text-align: center;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.info input{
    width: 100%;
    padding: 1rem 1rem;
    margin: 0.25rem 0rem;
    border: 2px solid #f1f1f1;
    border-radius: 40px;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.info input:hover{
    border: 2px solid #dadada;
    transition: all 0.75s ease-out;
}

.info input:focus{
    background: #f1f1f1;
    transition: all 0.75s ease-out;
}

.info form{
    transition: all 0.75s ease-out;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .20s ease-in-out, background-color .20s ease-in-out, border-color .20s ease-in-out, box-shadow .20s ease-in-out;
}

.btn-block{
    display: block;
    width: 100%;
}

.btn-purple{
    color: #fff;
    background-color: #9900cc;
    border-color: #9900cc;
}

.btn-purple:hover{
    color: #fff;
    background-color: #bf5ced;
    border-color: #bf5ced;
}

.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.logout{
    text-decoration: none;
    color: #000000;
    transition: color .20s ease-in-out;
}

.logout:hover{
    color: #585858;
}