.monster img{
    width: 13rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle{
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        rgba(240, 109, 22, 0.75),
        rgba(255, 156, 90, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.recovery{
    margin-top: 2em;
}

.recovery button{
    width: 100%;
    padding: 1rem 0rem;
    background: #f6914d;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bolder;
}

.recovery button:hover{
    background: #f89f63;
    transition: all 0.75s ease-out;
}