.monster img{
    width: 13rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle{
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        rgba(57, 159, 159, 0.75),
        rgba(129, 205, 207, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.signup, .signin{
    margin-top: 2em;
}

.signup button{
    width: 100%;
    padding: 1rem 0rem;
    background: #59bfc1;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bolder;
}

.signup button:hover{
    background: #a3dbdc;
    transition: all 0.75s ease-out;
}

.accsignup a{
    color: #59bfc1;
    text-decoration: none;
    transition: all 0.75s ease-out;
}

.accsignup a:hover{
    color: #a3dbdc;
}

.recovery{
    margin: 0 1%;
    color: #59bfc1;
    text-decoration: none; 
    transition: all 0.75s ease-out;
}

.recovery:hover{
    color: #a3dbdc;
}