.monster img{
    width: 13rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle{
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        rgba(109, 201, 63, 0.75),
        rgba(139, 206, 100, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.signup, .signin{
    margin-top: 2em;
}

.signup button{
    width: 100%;
    padding: 1rem 0rem;
    background: #50de3d;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bolder;
}

.signup button:hover{
    background: #87f383;
    transition: all 0.75s ease-out;
}

.signin a{
    color: #50de3d;
    text-decoration: none;
    transition: all 0.75s ease-out;
}

.signin a:hover{
    color: #87f383;
}