*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url("../img/galaxy.jpg");
    background-repeat: repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    perspective: 1000px;
}

.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #fff;
    transform-style: preserve-3d;
    min-height: 80%;
    width: 80%;
    border-radius: 30px;
    padding: 5% 5%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.circle{
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        rgba(153, 0, 204, 0.75),
        rgba(190, 92, 237, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.monster{
    min-height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info h1{
    font-size: 3rem;
    text-align: center;
    transition: all 0.75s ease-out;
}

.info h3{
    font-size: 1.3rem;
    padding: 0.8rem 0rem;
    text-align: center;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.info input{
    width: 100%;
    padding: 1rem 1rem;
    margin: 0.25rem 0rem;
    border: 2px solid #f1f1f1;
    border-radius: 40px;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.info input:hover{
    border: 2px solid #dadada;
    transition: all 0.75s ease-out;
}

.info input:focus{
    background: #f1f1f1;
    transition: all 0.75s ease-out;
}

.info form{
    transition: all 0.75s ease-out;
}

.btn{
    width: 100%;
    margin: 1% 0;
    padding: 1rem 0rem;
    background: #9900cc;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.75s ease-out;
}

.btn:hover{
    background: #bf5ced;
}

.btn-block{
    display: block;
    width: 100%;
}

.btn-link{
    color: #9900cc;
    text-decoration: none;
    transition: all 0.75s ease-out;
}

.btn-link:hover{
    color: #bf5ced;
}

.btn-card{
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.btn-card:hover{
    color: #585858;
}

.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.menu-btn{
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    transition: all 0.75s ease-in-out;
}

.menu-btn:hover{
    color: #585858;
}